<!DOCTYPE HTML>
<html>
	<head>
		<title>Gogobit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<header id="header">
			<h1>Gogobit，專為華人所打造的比特幣助理。</h1>
			<h2>A powerful bitcoin assistant built for Chinese.</h2>
			<p>現在訂閱並附上 Bitcoin Address，還能一起抽 <b>10000000</b> Satoshi 的比特幣！</p>
		</header>
		<form id="signup-form" method="post" action="#">
			<input type="email" name="email" id="email" placeholder="Email Address" />
			<input type="text" name="address" id="address" placeholder="Bitcoin Address" />
			<input type="submit" value="Subscribe" />
		</form>
		<footer id="footer">
			<ul>在以下社群關注 Gogobit 或聯絡我們！</ul>
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</footer>
	    <script src="js/jquery.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>